# Verification Guide
A guide to ID verifying members in Starlight.

:::warning
No exceptions shall be made to this process for any member.
:::

Inside the opened verification ticket, Fyre will send the full list of verification instructions for the member.
These instructions will include the randomly generated pose.

When you claim a ticket, please briefly introduce yourself and point out the instructions to the member.
Be nice and make them feel welcome in our community.


### Member Instructions
Here's the list of member instructions for verification:

1. Write your username, today's date, and "Starlight" on a piece of paper or a digital note.

2. Take a picture of yourself holding your ID and the paper/note beside your face (you can censor personal info on your ID except your face, date of birth, and country/state/provincial icons).

3. Take a picture of yourself doing the following pose: {random.pose}.

4. Upload both pictures to the channel and wait for further instructions from staff.


### Staff Instructions
You must verify the person on the ID is the same person doing the pose and taking the photos. All selfies must be of the same person.
The ID must not be expired, and must be issued by a state, provincial, or federal government in the country of residence.

If you are unsure of a member's ID, ping an admin to come and assist with verification.

:::info VC VERIFICATION
Helpers arn't allowed to complete VC Verification, please ping a moderator or admin if a member has requested VC Verification.
:::


### Additional Photos
If the member's ID is blurry in the second selfie, you can request a close up photo of their ID.
Match the close up to the selfie photo, and if they match you can verify the member.

Compliance is required for secondary close-up ID photos, if the member refuses, close the ticket.
If the member refuses to verify all together, also close the ticket.
If the member is harassing or abusing you, feel free to get a moderator or higher to **kick** the member from the server.

:::info CLOSING TICKETS
Before closing a verification ticket, make sure the member's verification photos are deleted.
If they failed to verify, you can delete the photos. If they successfully verified, ask the member to delete their photos.
:::

If the member's face isn't clearly visible in any of the selfies,
you can ask them to retake that selfie until they produce one where their face is clearly visible.
Failure to comply with this request can also lead to closing the ticket or kicking the member if necessary.


### Successful Verification
After a member has successfully ID verified, you can verify the member using `>verify @user <male/female/other> <date-of-birth>`.
It is crucial you provide the member's date of birth when verifying them so we can look back at verification histories.

:::info
Date of Birth must be recorded in the British format, or written out, not the American format.
Example: DD/MM/YYYY `[01/09/2000]` or MMMM DD, YYYY `[Sept 01, 2000]`.
:::

After the member has successfully verified, thank them and welcome them to our server.
Remind them kindly to get self roles and go say hi in the lounge.
